<div class="message-box left-img">
      <div class="picture">
        <span class="time"></span>
      </div>
      <div class="message">
        <span>Anonymous</span>
        <p><%= message.message %></p>
      </div>
    </div>
